<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doubleteam.ntp" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ntp_logo"
        android:label="@string/app_name"
        android:name="com.doubleteam.NtpApp"
        >
        <activity
            android:name="com.doubleteam.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MndSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.doubleteam.ntp.activity.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.doubleteam.service.TimeService" >
            <intent-filter >
                <action android:name="com.doubleteam.service.MSG_ACTION"/>
            </intent-filter>
        </service>

        <receiver android:name="com.doubleteam.broad.TimeBroadRecievier" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
